@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body {
    background-color: #FFD966;
}

.principal {
    background: #FFF2CC;
    position: absolute;
    width: 324px;
    height: 720px;
    left: calc(50% - 324px/2);
    top: calc(50% - 720px/2 + 0.5px);
    border-radius: 20px;
}

.principal-agendamento {
    background: #FFF2CC;
    position: absolute;
    width: 324px;
    height: 720px;
    left: calc(50% - 324px/2);
    top: calc(50% - 720px/2 + 0.5px);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.titulo {
    position: absolute;
    width: 324px;
    height: 70px;
    left: calc(50% - 324px/2);
    top: 60px;

    font-style: normal;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    line-height: 52px;
    text-align: center;
}

.logo {
    color: #93BFCF;
    font-size: 3em;
}

.logoE {
    color: #FAAB78;
}

.subtitulo {
    color: #FAAB78;
    font-size: 35px;

}

.voltar {
    position: absolute;
    width: 49px;
    height: 47px;
    left: 250px;
    top: 10px;
    border-radius: 10px;
    font-size: 30px;


    background: #F4B183;
    box-shadow: 4px 4px 3px rgba(90, 69, 53, 0.95);
}

.voltar:hover {
    transition: background-color 0.3s ease;
    background: #E7803B;
}

.opcoes {
    font-size: 2em;
}

.marcar-horario {
    position: absolute;
    width: 285px;
    height: 82px;
    left: 17px;
    top: 212px;

    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.marcar-horario:hover {
    transition: background-color 0.3s ease;
    background: #E7803B;
}

.procedimentos {
    position: absolute;
    width: 285px;
    height: 82px;
    left: 17px;
    top: 344px;

    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.procedimentos:hover {
    transition: background-color 0.3s ease;
    background: #E7803B;
}

.pagamento {
    position: absolute;
    width: 285px;
    height: 220px;
    left: 17px;
    top: 200px;

    background: #83f485;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.pagamento-voltar {
    position: absolute;
    width: 285px;
    height: 100px;
    left: 17px;
    top: 450px;

    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.pagamento-voltar:hover {
    transition: background-color 0.3s ease;
    background: #E7803B;
}

.portfolio {
    position: absolute;
    width: 285px;
    height: 82px;
    left: 17px;
    top: 476px;

    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.portfolio:hover {
    transition: background-color 0.3s ease;
    background: #E7803B;
}

.procedimentos-h1 {
    height: 70px;
    left: calc(50% - 324px/2);

    margin-bottom: 15px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 25px;
}

.procedimentos-form {
    width: 245px;
    background-color: #F4B183;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    margin: 100px auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form button[type="submit"] {
    padding: 10px 20px;
    border: solid 0px #4e4a4a;
    border-radius: 5px;
    background-color: #93BFCF;
    font-weight: bold;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    transition: background-color 0.3s ease;
    background-color: #a7e6fd;
}

/* Estilo para as labels */
.form label {
    font-weight: bold;
}

/* Estilo para as mensagens de erro */
.form .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Espaçamento entre o formulário e os demais elementos */
.procedimentos-form {
    margin-top: 140px;
}

.zap {
    position: absolute;
    width: 82px;
    height: 83px;
    left: 20px;
    top: 600px;
    font-size: 50px;
    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.zap:hover {
    transition: background-color 0.3s ease;
    background: #FFF2CC;
    color: #2dcf2d;
}

.insta {
    position: absolute;
    width: 82px;
    height: 83px;
    left: 120px;
    top: 600px;
    font-size: 50px;
    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.insta:hover {
    transition: background-color 0.3s ease;
    background: #FFF2CC;
    color: #c82858;
}

.face {
    position: absolute;
    width: 82px;
    height: 83px;
    left: 220px;
    top: 600px;
    font-size: 50px;
    background: #F4B183;
    box-shadow: 5px 5px 4px rgba(90, 69, 53, 0.95);
    border-radius: 10px;
}

.face:hover {
    transition: background-color 0.3s ease;
    background: #FFF2CC;
    color: #4862f4;
}